.comment-text {
    text-align: left;
    padding: 2px;
    margin-left: 4px;
  }
  
  .comment {
    font-weight: 300;
    font-size: 14px;
  }
  
  .user {
    font-weight: 500;
    font-size: 12px;
  }
  input{
      width:96%;
      border: none;
      height: 40px;
      font-size:1.5rem; 
  }
  button{
      border:none;
      background-color: white;
      font-size: 1.5rem;
  }